{% extends "layouts/base.html" %}

{% block title %} Patch Management {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
      <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Patch Service List</h4>
              <p class="card-category">You can manage patch files here.</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>No.</th>
                    <th>Service</th>
                    <th>Last Update</th>
                    <th>Download</th>
                    {% if user.is_superuser %}
                        <th>Upload</th>
                    {% endif %}
                  </thead>
                  <tbody>
                    {% for patch in patches %}
                        <tr>
                            <td>{{ forloop.counter }}.</td>
                            <td>{{ patch.title }}</td>
                            <td>{{ patch.last_update }}</td>
                            <td>
                                {% if "" != patch.last_update %}
                                    <a href="download-patch/{{ patch.url }}"><i class="material-icons text-danger">cloud_download</i></a>
                                {% endif %}
                            </td>
                            {% if user.is_superuser %}
                                <td><a href="upload-page/{{ patch.url }}"><i class="material-icons">cloud_upload</i></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    </div>

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
    </script>
{% endblock javascripts %}


